body {
  font-family: 'Roboto', sans-serif;
  font-weight: font-weight: 300;
  font-size: 22px;
}

.navbar-inverse {
  height: 75px;
  background: #2A2C34 none repeat scroll 0%;
  border:0;
}

.jumbotron {
  color: #fff;
  text-align: center;
}

.bg-1{
  background: url(/images/2.jpg);
  background-size: 100% 100%;
}

.jumbotron h1{
  font-size: 67.3px;
}

.jumbotron p{
  font-size: 25px;
}


footer {
background: #2A2C34 none repeat scroll 0% 0%;
font-size: 16px;
padding: 30px 0px;
margin-top: 100px;
color: #898B91;
}

h2{
  font-size: 66px;
}

h3{
  font-size: 43px;
}
h4{
  font-size: 30px;
}

.about p{
  font-size: 18px;
  line-height: 32px;
}

.about .fa-circle {
  color: #E8643E;
}

.testimonial p {
  font-size: 18px;
  line-height: 32px;
}

.testimonial .media-heading {
  color: #E8643E;
}

#pricing{
    background-color: #fff;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
  padding: 20px 40px;
  text-align: center;
  color: #E8643E;
}

#pricing .dollar {
  font-size: 19px;
  position: relative;
  top:-10px;
}

#pricing .price {
  font-size: 49px;
}

#pricing .period {
  font-size: 17px;
  position: relative;
  top: -8px;
  margin-left: 4px;
}

#pricing .plan-name {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #777;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 15px;
  width: 90%;
  margin: 0 auto;
  margin-top: 8px;
}

#pricing .specs {
  margin-top: 20px;
}

#pricing .specs .spec {
  font-size: 20px;
  color: #474747;
  text-align: center;
  font-weight: 300;
  margin-bottom: 15px;
}

#pricing .specs .spec .variable {
  color: #E8643E;
  font-weight: 400;
}
