---
title: AttendPro
---

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/images/attendpro.png" >
      </a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" style="font-size: 125%;padding-top: 25px;"><i class="fa fa-2 fa-mobile"></i> <b>(022) 3349 2929<b/></a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron bg-1">
  <div class="container">
    <br>
    <h1>Automatic Attendance</h1>
    <br>
    <p>You focus on teaching, AttendPro will take care of student attendance and inform their parents about In time, Out time and Absentee via SMS</p>
    <br>
    <a class="btn btn-success btn-lg"
      target="_blank"
      href="https://drive.google.com/file/d/0ByBferFICfRzYU9RbU15X1NFemc/view?usp=sharing">
      Download AttendPro
    </a>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <img src="/images/in-out-msg.jpg" style="max-width: 442px; height: 550px;" class="center-block">
    </div>
    <div class="col-md-8" style="">
      <h2>Attendance like a Pro</h2>

      <p>AttendPro welcomes you to the world without proxy-punching or wasting time marking each attendance. just providing fool proof security by ensuring that the student is personally present to mark the attendance.</p>

      <p>When you replace your register book or excel with our AttendPro Software, It will track each and every student coming to your coaching classes and sends In time, Out Time and Absentee SMS to the parents, so you can focus on giving the student a better, more effective teaching facility.</p>
   </div>
  </div>
</div>
<!-- /container -->
<br>
<!-- Advantages -->
<div class="jumbotron bg-1">
  <div class="container">
    <br>
    <h3>Advantages of AttendPro</h3>
    <br>
    <div class="row">
      <div class="col-md-4 about">
        <span class="fa-stack fa-lg fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-hand-o-up fa-stack-1x"></i>
        </span>
        <h4>NO PROXY ATTENDANCE</h4>
        <p>A biometric time attendance system enables you to eliminate student proxy attendance (or buddy punching). Physiological features like fingerprints are nearly impossible for someone to replicate or share, and thus makes it foolproof.</p>
      </div>
      <div class="col-md-4 about">
        <span class="fa-stack fa-lg fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-clock-o fa-stack-1x"></i>
        </span>
        <h4>REAL-TIME ATTENDACE</h4>
        <p>Attendpro ensures that the student is personally present to mark the attendance. It uses finger recognition to verify student's identity and record its time-in and time-out with all required details.</p>
      </div>
      <div class="col-md-4 about">
        <span class="fa-stack fa-lg fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user-times fa-stack-1x"></i>
        </span>
        <h4>No HUMAN INTERACTION</h4>
        <p>Zero human interaction is needed to mark the attendance. On-line monitoring highlights the immediate display of transactions received from the biometric machine</p>
      </div>
    </div>
  </div>
</div>
<!-- Testimonials -->
<div class="container">
  <h3 class="text-center">What our clients say</h3>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="media testimonial">
        <div class="media-left">
          <a href="#">
            <img class="media-object img-circle" src="/images/yogesh-kotian.jpg" height="100" width="100" >
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Yogesh Classes, Chembur</h4>
          <p>Attendpro has become a very useful part of my daily routine, now I can mark the attendance of students as well as teachers with just a touch of their fingers. Bunking Lectures have really reduced due to the SMS updates to the parents. You can also get well-organized attendance and performance report only on Classpro.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="media testimonial">
        <div class="media-left">
          <a href="#">
            <img class="media-object img-circle" src="/images/sanjay-vora.jpg" height="100" width="100" >
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Eduhome Academy, Washim</h4>
          <p>We are happily enjoying the Classpro services and Attendpro has helped me to manage my coaching class and the students in a better way. The support provided by Divya and Vijay is remarkable, you call them anytime and they will be ready to help you without any hesitation. They have helped us maintaining the trust factor between a  coaching class and the parents.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<br/>
<br/>


<!-- Plans and Pricing -->
<div class="jumbotron bg-1">
<div class="container">
  <h3 class="text-center">Plans & Pricing</h3>
  <br>
  <div class="row">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4 text-center">
          <div id="pricing">
            <div class="quantity">
              <span class="dollar"><i class="fa fa-inr"></i></span>
              <span class="price">599</span>
              <span class="period">/ month</span>
            </div>
            <div class="plan-name">Single Center</div>
            <div class="specs">
              <div class="spec">
                <span class="variable">Free</span>
                Installation
              </div>
              <div class="spec">
                <span class="variable">Unlimited</span>
                student data
              </div>
              <div class="spec">
                <span class="variable">1</span>
                Branch
              </div>
            </div>
          </div>

    </div>
    <div class="col-md-4">&nbsp;</div>
  </div>
</div>
</div>
