---
title: AttendPro
---

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/images/attendpro.png" >
      </a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron bg-1">
  <div class="container">
    <br>
    <h1>Automatic attendance</h1>
    <br>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <br>
    <a class="btn btn-success btn-lg" href="#"> Download AttendPro</a>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6">
      <img src="/images/in-out-msg.jpg" style="max-width: 442px; height: 550px;" class="center-block">
    </div>
    <div class="col-md-6" style="">
      <h2>Greet the guest, we’ll do the rest.</h2>
      <p>Let Envoy welcome you to a world without paper pushing or wasted time; just secure and seamless visitor registration.</p>
      <p>When you replace your sign-in book with our customizable iPad app, we collect the visitor information, so you can focus on giving the guest a better, more personal experience.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
  </div>
</div>
<!-- /container -->
<br>
<!-- Advantages -->
<div class="jumbotron bg-1">
  <div class="container">
    <br>
    <h3>Advantages of AttendPro</h3>
    <br>
    <div class="row">
      <div class="col-md-4 about">
        <span class="fa-stack fa-lg fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user-times fa-stack-1x"></i>
        </span>
        <h4>NO PROXY ATTENDANCE</h4>
        <p>A biometric time attendance system enables you to eliminate employee proxy attendance (or buddy punching). Physiological features like fingerprints are nearly impossible for someone to replicate or share, and thus makes it foolproof.</p>
      </div>
      <div class="col-md-4 about">
        <span class="fa-stack fa-lg fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-clock-o fa-stack-1x"></i>
        </span>
        <h4>REAL-TIME ATTENDACE</h4>
        <p>Modern biometric time attendance systems easily connect with your HR software, such as sumHR. This enables you to make reports without any difficulty, based on the latest data for analysis. You don't have to wait for the data to be updated for verification.</p>
      </div>
      <div class="col-md-4 about">
        <span class="fa-stack fa-lg fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-table fa-stack-1x"></i>
        </span>
        <h4>NO DATA MANIPULATION</h4>
        <p>Attendance and leaves recorded using biometric devices means that your employees cannot manipulate their data for overtime to earn extra money, lunch time/breaks, holidays, and leaves. A biometric time attendance system helps you to easily keep a tab on employee activities.</p>
      </div>
    </div>
  </div>
</div>
<!-- Testimonials -->
<div class="container">
  <h3 class="text-center">What our clients say</h3>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="media testimonial">
        <div class="media-left">
          <a href="#">
            <img class="media-object img-circle" src="/images/yogesh-kotian.jpg" height="100" width="100" >
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Yogesh Classes, Chembur</h4>
          <p>Attendpro has become a very useful part of my daily routine, now I can mark the attendance of students as well as teachers with just a touch of their fingers. Bunking Lectures have really reduced due to the SMS updates to the parents. You can also get well-organized attendance and performance report only on Classpro.</p>
        </div>
      </div>      
    </div>
  
    <div class="col-md-6">
      <div class="media testimonial">
        <div class="media-left">
          <a href="#">
            <img class="media-object img-circle" src="/images/sanjay-vora.jpg" height="100" width="100" >
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Eduhome Academy, Washim</h4>
          <p>We are happily enjoying the Classpro services and Attendpro has helped me to manage my coaching class and the students in a better way. The support provided by Divya and Vijay is remarkable, you call them anytime and they will be ready to help you without any hesitation. They have helped us maintaining the trust factor between a  coaching class and the parents.</p>
        </div>
      </div>      
    </div>
  </div>
</div>
